<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.gov.jms.ui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.cn.gov.jms.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:logo="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SpalshActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".AboutusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ContactusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ShiQingGaiKuangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZhengWuGongKaiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Online_servicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Convenience_ServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZhengminHudongActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Investment_guideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".NewsCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".PublicNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".PublicNoticeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ListZwgkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ListGkznActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity android:name=".ShiqinggaikuangListDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" ></activity>
    </application>

</manifest>