<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cn.gov.jms.ui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <application
        android:name="com.cn.gov.jms.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/jmslogo"
        android:logo="@drawable/jmslogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SpalshActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.cn.gov.jms.MyApplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".DetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".AboutusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ContactusActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ShiQingGaiKuangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZhengWuGongKaiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Online_servicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Convenience_ServicesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZhengminHudongActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Investment_guideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".NewsCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".PublicNoticeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".PublicNoticeDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ListZwgkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ListGongkainianbaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ShiqinggaikuangListDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".GongkaijianbaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".GovFileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZhengcejieduActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".PeronThingInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".MinShengProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".LawGuiwenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZhishujigouActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".GovReportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".LeaderSpeakingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".MoneyInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".BaoZhangZhuFangActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ShiYaoAnQuanActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".EnviromentProtectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".SafeProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".YingjiGuanliActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ChaiqianZhengdiActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".GongyiJiuzhuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".CityBuildActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".JianduCheckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".KeyAreaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Some_suggestionsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".Consulting_problemsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ConsultDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".AboutusDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".SomeSuggestionsListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".FanyingQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".ZixunQuestionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".FanyingDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity
            android:name=".FanyingQuestionListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation" />
        <activity android:name=".SearchListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/activityAnimation"></activity>
    </application>

</manifest>